<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>statuses</key>
	<array>
		<dict>
			<key>attitudes_count</key>
			<integer>0</integer>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>Mon Dec 26 15:14:58 +0800 2016</string>
			<key>idstr</key>
			<string>3767667834346118</string>
			<key>pic_urls</key>
			<array/>
			<key>reposts_count</key>
			<integer>0</integer>
			<key>source</key>
			<string>&lt;a href=&quot;http://app.weibo.com/t/feed/6atlQk&quot; rel=&quot;nofollow&quot;&gt;贴吧客户端&lt;/a&gt;</string>
			<key>text</key>
			<string>【动物尖叫合辑】猫头鹰这么尖叫[微笑]、老鼠这么尖叫[爱你]、兔子这么尖叫[哈哈]、莫名奇妙的笑到最后！~ http://t.cn/zYBuKZ8</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>3131824485</string>
				<key>mbrank</key>
				<integer>0</integer>
				<key>mbtype</key>
				<integer>0</integer>
				<key>name</key>
				<string>精致宠物</string>
				<key>profile_image_url</key>
				<string>http://tp2.sinaimg.cn/3131824485/50/22856341216/1</string>
				<key>verified_type</key>
				<integer>220</integer>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>13</integer>
			<key>comments_count</key>
			<integer>19</integer>
			<key>created_at</key>
			<string>Mon Dec 25 15:14:58 +0800 2016</string>
			<key>idstr</key>
			<string>3767667690891626</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww1.sinaimg.cn/thumbnail/561ee475jw1elhbncosu4j20qo18gjvr.jpg</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>5</integer>
			<key>source</key>
			<string>&lt;a href=&quot;http://app.weibo.com/t/feed/503Oti&quot; rel=&quot;nofollow&quot;&gt;魅族 MX4&lt;/a&gt;</string>
			<key>text</key>
			<string>#文化不苦旅# 雄赳赳气昂昂出发，然后...活活被輜 重堵死在路上[爱你]</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>1444865141</string>
				<key>mbrank</key>
				<integer>1</integer>
				<key>mbtype</key>
				<integer>2</integer>
				<key>name</key>
				<string>马伯庸</string>
				<key>profile_image_url</key>
				<string>http://tp2.sinaimg.cn/1444865141/50/5708501090/1</string>
				<key>verified_type</key>
				<integer>0</integer>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>6</integer>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>Mon Dec 03 15:14:58 +0800 2016</string>
			<key>idstr</key>
			<string>3767667653824026</string>
			<key>pic_urls</key>
			<array/>
			<key>reposts_count</key>
			<integer>0</integer>
			<key>retweeted_status</key>
			<dict>
				<key>attitudes_count</key>
				<integer>105</integer>
				<key>comments_count</key>
				<integer>35</integer>
				<key>created_at</key>
				<string>Mon Oct 20 08:08:01 +0800 2014</string>
				<key>idstr</key>
				<string>3767660313681382</string>
				<key>pic_urls</key>
				<array>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww1.sinaimg.cn/thumbnail/41693645jw1elhax381g3j20dw0993zi.jpg</string>
					</dict>
				</array>
				<key>reposts_count</key>
				<integer>16</integer>
				<key>source</key>
				<string>&lt;a href=&quot;http://app.weibo.com/t/feed/4ACxed&quot; rel=&quot;nofollow&quot;&gt;iPad客户端&lt;/a&gt;</string>
				<key>text</key>
				<string>今天开机第一件事：见到一个未接电话，打过去，对方坚决否定给我打过电话。[哈哈][哈哈][哈哈] http://t.cn/z8AfF4b</string>
				<key>user</key>
				<dict>
					<key>idstr</key>
					<string>1097414213</string>
					<key>mbrank</key>
					<integer>6</integer>
					<key>mbtype</key>
					<integer>12</integer>
					<key>name</key>
					<string>袁裕来律师</string>
					<key>profile_image_url</key>
					<string>http://tp2.sinaimg.cn/1097414213/50/39997989374/1</string>
					<key>verified_type</key>
					<integer>0</integer>
					<key>vip</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>source</key>
			<string>&lt;a href=&quot;http://app.weibo.com/t/feed/5xCS0B&quot; rel=&quot;nofollow&quot;&gt;微博手机版&lt;/a&gt;</string>
			<key>text</key>
			<string>回复@文武尽胜:你神经过敏了，是我的前当事人。案件结局比较理想[微笑]乛//@文武尽胜:确认，定位，你懂得！</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>1097414213</string>
				<key>mbrank</key>
				<integer>6</integer>
				<key>mbtype</key>
				<integer>12</integer>
				<key>name</key>
				<string>袁裕来律师</string>
				<key>profile_image_url</key>
				<string>http://tp2.sinaimg.cn/1097414213/50/39997989374/1</string>
				<key>verified_type</key>
				<integer>0</integer>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>0</integer>
			<key>comments_count</key>
			<integer>2</integer>
			<key>created_at</key>
			<string>Mon Oct 20 08:36:58 +0800 2014</string>
			<key>idstr</key>
			<string>3767667598600153</string>
			<key>pic_urls</key>
			<array/>
			<key>reposts_count</key>
			<integer>1</integer>
			<key>retweeted_status</key>
			<dict>
				<key>attitudes_count</key>
				<integer>6</integer>
				<key>comments_count</key>
				<integer>1</integer>
				<key>created_at</key>
				<string>Mon Oct 20 08:33:51 +0800 2014</string>
				<key>idstr</key>
				<string>3767666814392645</string>
				<key>pic_urls</key>
				<array>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww3.sinaimg.cn/thumbnail/628ffe73gw1elhbnuqkedj20lc0e7jw2.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww4.sinaimg.cn/thumbnail/628ffe73gw1elhbnv9gzgj20ht0eaadi.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww1.sinaimg.cn/thumbnail/628ffe73gw1elhbnvc4ulj20hg07gta0.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww1.sinaimg.cn/thumbnail/628ffe73gw1elhbnvw5ssj20hb09hq4r.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww2.sinaimg.cn/thumbnail/628ffe73gw1elhbnwb1d7j20hf092dhk.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww4.sinaimg.cn/thumbnail/628ffe73gw1elhbnwlp8bj20gt0d9whe.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww2.sinaimg.cn/thumbnail/628ffe73gw1elhbnwpri9j20gh0d6n03.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww3.sinaimg.cn/thumbnail/628ffe73gw1elhbnx835rj20gh0ew77c.jpg</string>
					</dict>
				</array>
				<key>reposts_count</key>
				<integer>14</integer>
				<key>source</key>
				<string>&lt;a href=&quot;http://weibo.com/&quot; rel=&quot;nofollow&quot;&gt;微博 weibo.com&lt;/a&gt;</string>
				<key>text</key>
				<string>【雾霾天能不能长跑？该怎么跑？ 南京医学专家权威解答7点疑问】昨天，很多人的微博和朋友圈，都被“2014北马”刷屏了。当天北京深陷中度霾，该不该跑，也成为了很多人纠结的事情。鼻毛能阻挡颗粒物吗？吃“清肺”的食物，能助于“排毒”？http://t.cn/R7qGo3H</string>
				<key>user</key>
				<dict>
					<key>idstr</key>
					<string>1653603955</string>
					<key>mbrank</key>
					<integer>0</integer>
					<key>mbtype</key>
					<integer>0</integer>
					<key>name</key>
					<string>扬子晚报</string>
					<key>profile_image_url</key>
					<string>http://tp4.sinaimg.cn/1653603955/50/40050770011/1</string>
					<key>verified_type</key>
					<integer>3</integer>
					<key>vip</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>source</key>
			<string>&lt;a href=&quot;http://app.weibo.com/t/feed/6ghA0p&quot; rel=&quot;nofollow&quot;&gt;搜狗高速浏览器&lt;/a&gt;</string>
			<key>text</key>
			<string>鼻毛可以阻挡95%的大颗粒。。。</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>2537882762</string>
				<key>mbrank</key>
				<integer>6</integer>
				<key>mbtype</key>
				<integer>12</integer>
				<key>name</key>
				<string>面相与命运</string>
				<key>profile_image_url</key>
				<string>http://tp3.sinaimg.cn/2537882762/50/40051541732/1</string>
				<key>verified_type</key>
				<integer>0</integer>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>0</integer>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>Mon Oct 20 08:36:05 +0800 2014</string>
			<key>idstr</key>
			<string>3767667377169619</string>
			<key>pic_urls</key>
			<array/>
			<key>reposts_count</key>
			<integer>1</integer>
			<key>retweeted_status</key>
			<dict>
				<key>attitudes_count</key>
				<integer>1240</integer>
				<key>comments_count</key>
				<integer>454</integer>
				<key>created_at</key>
				<string>Thu Sep 25 22:14:06 +0800 2014</string>
				<key>idstr</key>
				<string>3758813540565308</string>
				<key>pic_urls</key>
				<array>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww3.sinaimg.cn/thumbnail/9e14cb4agw1ekp2uk64j0j20c808wglt.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww3.sinaimg.cn/thumbnail/9e14cb4agw1ekp2ukgdmwj20c808cdg7.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww4.sinaimg.cn/thumbnail/9e14cb4agw1ekp2ukdaicj20c807lt93.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww2.sinaimg.cn/thumbnail/9e14cb4agw1ekp2ukik1hj20c808z0t7.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww3.sinaimg.cn/thumbnail/9e14cb4agw1ekp2ukvhslj20c808yq4a.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww1.sinaimg.cn/thumbnail/9e14cb4agw1ekp2ul2lx9j20c809fmy1.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww3.sinaimg.cn/thumbnail/9e14cb4agw1ekp2ul3hh9j20c8081dgj.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww1.sinaimg.cn/thumbnail/9e14cb4agw1ekp2ul9d92j20c8088aac.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww3.sinaimg.cn/thumbnail/9e14cb4agw1ekp2ulg0jsj20c8098jrs.jpg</string>
					</dict>
				</array>
				<key>reposts_count</key>
				<integer>6837</integer>
				<key>source</key>
				<string>&lt;a href=&quot;http://app.weibo.com/t/feed/1tqBja&quot; rel=&quot;nofollow&quot;&gt;360安全浏览器&lt;/a&gt;</string>
				<key>text</key>
				<string>词语新解，真是让人脑洞大开！看完我竟无言以对！！[草泥马][哈哈]</string>
				<key>user</key>
				<dict>
					<key>idstr</key>
					<string>2652162890</string>
					<key>mbrank</key>
					<integer>6</integer>
					<key>mbtype</key>
					<integer>12</integer>
					<key>name</key>
					<string>18姐微博</string>
					<key>profile_image_url</key>
					<string>http://tp3.sinaimg.cn/2652162890/50/22854959679/0</string>
					<key>verified_type</key>
					<integer>-1</integer>
					<key>vip</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>source</key>
			<string>&lt;a href=&quot;http://app.weibo.com/t/feed/3auC5p&quot; rel=&quot;nofollow&quot;&gt;皮皮时光机&lt;/a&gt;</string>
			<key>text</key>
			<string>推荐一个很好笑的微博，快来关注18姐微博吧！[哈哈]</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>2244250502</string>
				<key>mbrank</key>
				<integer>5</integer>
				<key>mbtype</key>
				<integer>2</integer>
				<key>name</key>
				<string>最最搞笑精选</string>
				<key>profile_image_url</key>
				<string>http://tp3.sinaimg.cn/2244250502/50/5625405769/0</string>
				<key>verified_type</key>
				<integer>-1</integer>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>6</integer>
			<key>comments_count</key>
			<integer>13</integer>
			<key>created_at</key>
			<string>Mon Oct 20 08:36:03 +0800 2014</string>
			<key>idstr</key>
			<string>3767667368153997</string>
			<key>pic_urls</key>
			<array/>
			<key>reposts_count</key>
			<integer>14</integer>
			<key>source</key>
			<string>&lt;a href=&quot;http://weibo.com/&quot; rel=&quot;nofollow&quot;&gt;微博 weibo.com&lt;/a&gt;</string>
			<key>text</key>
			<string>太阳或上升白羊座：迎来天蝎座日食，会发现一些事情的真相又或突然将一些事情串联起来（了解到来龙去脉），近期需要注意债务、罚款、投资问题（可能造成破财），留意长辈和个人健康。职场来说，本身可能前期沟通不错，但是因为水天对冲，合作方或同事会出现乌龙事件，让你效率降低。爱情，是不要翻旧账</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>1680990025</string>
				<key>mbrank</key>
				<integer>6</integer>
				<key>mbtype</key>
				<integer>12</integer>
				<key>name</key>
				<string>Alex是大叔</string>
				<key>profile_image_url</key>
				<string>http://tp2.sinaimg.cn/1680990025/50/5619792799/1</string>
				<key>verified_type</key>
				<integer>0</integer>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>314</integer>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>Mon Oct 20 08:35:41 +0800 2014</string>
			<key>idstr</key>
			<string>3767667275844916</string>
			<key>pic_urls</key>
			<array/>
			<key>reposts_count</key>
			<integer>125</integer>
			<key>retweeted_status</key>
			<dict>
				<key>attitudes_count</key>
				<integer>55</integer>
				<key>comments_count</key>
				<integer>22</integer>
				<key>created_at</key>
				<string>Mon Oct 20 07:55:03 +0800 2014</string>
				<key>idstr</key>
				<string>3767657049947163</string>
				<key>pic_urls</key>
				<array>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww3.sinaimg.cn/thumbnail/652f5916gw1elha82btovj20c80fwmyr.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww1.sinaimg.cn/thumbnail/652f5916gw1elha82prdxj20c80853z1.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww1.sinaimg.cn/thumbnail/652f5916gw1elha82rza2j20c8085my1.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww4.sinaimg.cn/thumbnail/652f5916gw1elha832mxoj20c807ojsd.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww2.sinaimg.cn/thumbnail/652f5916gw1elha83eey2j20c80953zn.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww1.sinaimg.cn/thumbnail/652f5916gw1elha83mnuyj20c80940sy.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww2.sinaimg.cn/thumbnail/652f5916gw1elha83xydmj20c8086jt7.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww4.sinaimg.cn/thumbnail/652f5916gw1elha848lgvj20c8084q3y.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww2.sinaimg.cn/thumbnail/652f5916gw1elha84gmnfj20c807qdgs.jpg</string>
					</dict>
				</array>
				<key>reposts_count</key>
				<integer>358</integer>
				<key>source</key>
				<string>&lt;a href=&quot;http://weibo.com/&quot; rel=&quot;nofollow&quot;&gt;微博 weibo.com&lt;/a&gt;</string>
				<key>text</key>
				<string>【不成熟的6个心理特征，你有吗？】①立刻要回报，穷人心态。②不自律。③经常被情绪所左右。④不愿学习、自以为是，没有归零的心态。⑤判断事物靠直觉，而不是以事实为依据。⑥做事不靠信念、靠人言。不愿付出，不愿等待，轻言放弃。衡量一下自己是否还是个不成熟的人。[咖啡]早安！</string>
				<key>user</key>
				<dict>
					<key>idstr</key>
					<string>1697601814</string>
					<key>mbrank</key>
					<integer>0</integer>
					<key>mbtype</key>
					<integer>0</integer>
					<key>name</key>
					<string>京华时报</string>
					<key>profile_image_url</key>
					<string>http://tp3.sinaimg.cn/1697601814/50/40050938371/1</string>
					<key>verified_type</key>
					<integer>3</integer>
					<key>vip</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>source</key>
			<string>&lt;a href=&quot;http://app.weibo.com/t/feed/3o33sO&quot; rel=&quot;nofollow&quot;&gt;iPhone 6&lt;/a&gt;</string>
			<key>text</key>
			<string>早…[睡]</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>1259193624</string>
				<key>mbrank</key>
				<integer>4</integer>
				<key>mbtype</key>
				<integer>11</integer>
				<key>name</key>
				<string>李晨</string>
				<key>profile_image_url</key>
				<string>http://tp1.sinaimg.cn/1259193624/50/5707895075/1</string>
				<key>verified_type</key>
				<integer>0</integer>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>0</integer>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>Mon Dec 20 08:35:22 +0800 2014</string>
			<key>idstr</key>
			<string>3767667196420387</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww3.sinaimg.cn/thumbnail/4cd3493fjw1elhbp824t0j20e90j876v.jpg</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>3</integer>
			<key>source</key>
			<string>&lt;a href=&quot;http://app.weibo.com/t/feed/1tqBja&quot; rel=&quot;nofollow&quot;&gt;360安全浏览器&lt;/a&gt;</string>
			<key>text</key>
			<string>【@北京青年报 三车追尾一人被困 消防员谈话缓解被困人员情绪】10月18日上午,在顺义区发生交通事故,一名男子被困驾驶室。杨镇消防中队接到报警后迅速赶赴现场实施救援,对驾驶室进行破拆,为避免破拆对被困人员造成二次伤害,消防员拿来备用头盔为其戴好,并通过谈话进行心理安慰,5分钟后男子被安全救出。</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>1288915263</string>
				<key>mbrank</key>
				<integer>0</integer>
				<key>mbtype</key>
				<integer>0</integer>
				<key>name</key>
				<string>平安北京</string>
				<key>profile_image_url</key>
				<string>http://tp4.sinaimg.cn/1288915263/50/5697533118/1</string>
				<key>verified_type</key>
				<integer>1</integer>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>6</integer>
			<key>comments_count</key>
			<integer>7</integer>
			<key>created_at</key>
			<string>Mon Oct 20 08:35:21 +0800 2014</string>
			<key>idstr</key>
			<string>3767667191944761</string>
			<key>pic_urls</key>
			<array/>
			<key>reposts_count</key>
			<integer>35</integer>
			<key>retweeted_status</key>
			<dict>
				<key>attitudes_count</key>
				<integer>23</integer>
				<key>comments_count</key>
				<integer>27</integer>
				<key>created_at</key>
				<string>Fri Oct 17 16:32:17 +0800 2014</string>
				<key>idstr</key>
				<string>3766700052501132</string>
				<key>pic_urls</key>
				<array>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww2.sinaimg.cn/thumbnail/68c25195gw1ele8mwe5ovg206i03fqv6.gif</string>
					</dict>
				</array>
				<key>reposts_count</key>
				<integer>239</integer>
				<key>source</key>
				<string>&lt;a href=&quot;http://weibo.com/&quot; rel=&quot;nofollow&quot;&gt;微博 weibo.com&lt;/a&gt;</string>
				<key>text</key>
				<string>【一张图让你了解中国足球-………】</string>
				<key>user</key>
				<dict>
					<key>idstr</key>
					<string>1757565333</string>
					<key>mbrank</key>
					<integer>0</integer>
					<key>mbtype</key>
					<integer>0</integer>
					<key>name</key>
					<string>中青亮点</string>
					<key>profile_image_url</key>
					<string>http://tp2.sinaimg.cn/1757565333/50/40050675151/0</string>
					<key>verified_type</key>
					<integer>3</integer>
					<key>vip</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>source</key>
			<string>&lt;a href=&quot;http://app.weibo.com/t/feed/4ACxed&quot; rel=&quot;nofollow&quot;&gt;iPad客户端&lt;/a&gt;</string>
			<key>text</key>
			<string>吼吼。[爱你] //@谷凯:转发微博</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>1496850204</string>
				<key>mbrank</key>
				<integer>0</integer>
				<key>mbtype</key>
				<integer>0</integer>
				<key>name</key>
				<string>封新城</string>
				<key>profile_image_url</key>
				<string>http://tp1.sinaimg.cn/1496850204/50/5708069371/1</string>
				<key>verified_type</key>
				<integer>0</integer>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>3</integer>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>Mon Oct 20 08:35:05 +0800 2014</string>
			<key>idstr</key>
			<string>3767667125428344</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww3.sinaimg.cn/thumbnail/6d26261fgw1fb6siq00rkj20zk0qogpb.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww4.sinaimg.cn/thumbnail/6305a68djw1elhbk9r5j9j20c82ey478.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww4.sinaimg.cn/thumbnail/6305a68djw1elhbk9r5j9j20c82ey478.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww4.sinaimg.cn/thumbnail/6305a68djw1elhbk9r5j9j20c82ey478.jpg</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>0</integer>
			<key>source</key>
			<string>&lt;a href=&quot;http://app.weibo.com/t/feed/9C4PQ&quot; rel=&quot;nofollow&quot;&gt;热门微博&lt;/a&gt;</string>
			<key>text</key>
			<string>【07:00:00-07:59:59】热门微博热点尽在掌握，[哈哈]猛击链接看更多：http://t.cn/8FHV17v</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>2257175873</string>
				<key>mbrank</key>
				<integer>0</integer>
				<key>mbtype</key>
				<integer>0</integer>
				<key>name</key>
				<string>热门微博</string>
				<key>profile_image_url</key>
				<string>http://tp2.sinaimg.cn/2257175873/50/22866679303/0</string>
				<key>verified_type</key>
				<integer>3</integer>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>12</integer>
			<key>comments_count</key>
			<integer>3</integer>
			<key>created_at</key>
			<string>Mon Oct 20 08:34:21 +0800 2014</string>
			<key>idstr</key>
			<string>3767666944437080</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww2.sinaimg.cn/thumbnail/c3ad47bejw1elhbokm7kog207i04yhdu.gif</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>7</integer>
			<key>source</key>
			<string>&lt;a href=&quot;http://app.weibo.com/t/feed/3j6BDx&quot; rel=&quot;nofollow&quot;&gt;孔明社交管理&lt;/a&gt;</string>
			<key>text</key>
			<string>如果今天她要分手，别怕，你还有挽回的机会！[哈哈]</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>3282913214</string>
				<key>mbrank</key>
				<integer>5</integer>
				<key>mbtype</key>
				<integer>12</integer>
				<key>name</key>
				<string>搞笑趣事汇</string>
				<key>profile_image_url</key>
				<string>http://tp3.sinaimg.cn/3282913214/50/40067622621/1</string>
				<key>verified_type</key>
				<integer>-1</integer>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>18</integer>
			<key>comments_count</key>
			<integer>1</integer>
			<key>created_at</key>
			<string>Mon Oct 20 08:34:03 +0800 2014</string>
			<key>idstr</key>
			<string>3767666864732916</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww4.sinaimg.cn/thumbnail/9c6c023bgw1elh126zjdkj20hs0qowhk.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww4.sinaimg.cn/thumbnail/9c6c023bgw1elh127tbofj20k00qogq9.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww1.sinaimg.cn/thumbnail/9c6c023bgw1elh127ms4rj20k00qo41k.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww4.sinaimg.cn/thumbnail/9c6c023bgw1elh128pg10j20qo0hsdjw.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww2.sinaimg.cn/thumbnail/9c6c023bgw1elh12aiancj20hs0qok00.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww4.sinaimg.cn/thumbnail/9c6c023bgw1elh12azmd0j20hs0qo0zm.jpg</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>5</integer>
			<key>source</key>
			<string>&lt;a href=&quot;http://weibo.com/&quot; rel=&quot;nofollow&quot;&gt;微博 weibo.com&lt;/a&gt;</string>
			<key>text</key>
			<string>手机也能拍大片，性感陈乔恩[药]</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>2624324155</string>
				<key>mbrank</key>
				<integer>5</integer>
				<key>mbtype</key>
				<integer>13</integer>
				<key>name</key>
				<string>美女总工会</string>
				<key>profile_image_url</key>
				<string>http://tp4.sinaimg.cn/2624324155/50/22877893627/0</string>
				<key>verified_type</key>
				<integer>-1</integer>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>15</integer>
			<key>comments_count</key>
			<integer>23</integer>
			<key>created_at</key>
			<string>Mon Dec 26 08:33:48 +0800 2014</string>
			<key>idstr</key>
			<string>3767666802288787</string>
			<key>pic_urls</key>
			<array/>
			<key>reposts_count</key>
			<integer>41</integer>
			<key>retweeted_status</key>
			<dict>
				<key>attitudes_count</key>
				<integer>30</integer>
				<key>comments_count</key>
				<integer>45</integer>
				<key>created_at</key>
				<string>Mon Oct 20 08:30:21 +0800 2014</string>
				<key>idstr</key>
				<string>3767665937910456</string>
				<key>pic_urls</key>
				<array>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww2.sinaimg.cn/thumbnail/75b1a75fjw1elhbkezb6bj209c08ct8u.jpg</string>
					</dict>
				</array>
				<key>reposts_count</key>
				<integer>85</integer>
				<key>source</key>
				<string>&lt;a href=&quot;http://app.weibo.com/t/feed/Vlwy9&quot; rel=&quot;nofollow&quot;&gt;人民微管家&lt;/a&gt;</string>
				<key>text</key>
				<string>【部分地方政法系统腐败严重：一查一串、一端一窝！[怒]】在今年落马官员中，一长串政法系统干部的名字引人注目，如天津公安局长武长顺，太原公安局长柳遂记，深圳政法委书记蒋尊玉等...“一查一串、一端一窝”，个别地方政法系统腐败行为甚至呈现出“有组织犯罪”特征...新华社http://t.cn/R7q4cuU</string>
				<key>user</key>
				<dict>
					<key>idstr</key>
					<string>1974576991</string>
					<key>mbrank</key>
					<integer>0</integer>
					<key>mbtype</key>
					<integer>0</integer>
					<key>name</key>
					<string>环球时报</string>
					<key>profile_image_url</key>
					<string>http://tp4.sinaimg.cn/1974576991/50/40050781618/1</string>
					<key>verified_type</key>
					<integer>3</integer>
					<key>vip</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>source</key>
			<string>&lt;a href=&quot;http://app.weibo.com/t/feed/5xCS0B&quot; rel=&quot;nofollow&quot;&gt;微博手机版&lt;/a&gt;</string>
			<key>text</key>
			<string>什么系统不是如此？[睡]</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>1097414213</string>
				<key>mbrank</key>
				<integer>6</integer>
				<key>mbtype</key>
				<integer>12</integer>
				<key>name</key>
				<string>袁裕来律师</string>
				<key>profile_image_url</key>
				<string>http://tp2.sinaimg.cn/1097414213/50/39997989374/1</string>
				<key>verified_type</key>
				<integer>0</integer>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>0</integer>
			<key>comments_count</key>
			<integer>1</integer>
			<key>created_at</key>
			<string>Mon Oct 20 08:32:46 +0800 2014</string>
			<key>idstr</key>
			<string>3767666541996087</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww3.sinaimg.cn/thumbnail/681521d1jw1elhbg9sa6dj20eh0b6dgm.jpg</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>0</integer>
			<key>source</key>
			<string>&lt;a href=&quot;http://app.weibo.com/t/feed/9ksdit&quot; rel=&quot;nofollow&quot;&gt;iPhone客户端&lt;/a&gt;</string>
			<key>text</key>
			<string>#亚蒙社会观察# 今后，习讲话＜人民日报＞须＂原汁原味＂全文刊出，一年多来多个＂中央声音＂的乱象或将终结？[疑问]</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>1746215377</string>
				<key>mbrank</key>
				<integer>6</integer>
				<key>mbtype</key>
				<integer>12</integer>
				<key>name</key>
				<string>罗亚蒙</string>
				<key>profile_image_url</key>
				<string>http://tp2.sinaimg.cn/1746215377/50/5666162397/1</string>
				<key>verified_type</key>
				<integer>0</integer>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>13</integer>
			<key>comments_count</key>
			<integer>8</integer>
			<key>created_at</key>
			<string>Mon Oct 20 08:32:40 +0800 2014</string>
			<key>idstr</key>
			<string>3767666516984103</string>
			<key>pic_urls</key>
			<array/>
			<key>reposts_count</key>
			<integer>40</integer>
			<key>retweeted_status</key>
			<dict>
				<key>attitudes_count</key>
				<integer>173</integer>
				<key>comments_count</key>
				<integer>423</integer>
				<key>created_at</key>
				<string>Mon Oct 13 07:15:38 +0800 2014</string>
				<key>idstr</key>
				<string>3765110415593442</string>
				<key>pic_urls</key>
				<array>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww4.sinaimg.cn/thumbnail/aacfedefjw1el95zel9kxj20c80dr75h.jpg</string>
					</dict>
				</array>
				<key>reposts_count</key>
				<integer>3580</integer>
				<key>source</key>
				<string>&lt;a href=&quot;http://app.weibo.com/t/feed/1tqBja&quot; rel=&quot;nofollow&quot;&gt;360安全浏览器&lt;/a&gt;</string>
				<key>text</key>
				<string>我发的和转的关于长沙强-拆的微博有的忽然都不见了。下图是住在我家楼后的邻居，请千万别以为他在看风景，那是他面对强拆后在楼道悬梁自尽的画面。之后他的遗体被抢走，再之后就没有任何消息了。长沙市岳麓区陈中书记，学识浅薄的我想请教您一个问题：纸，真能包住火？@湖南省政府门户网站</string>
				<key>user</key>
				<dict>
					<key>idstr</key>
					<string>2865753583</string>
					<key>mbrank</key>
					<integer>5</integer>
					<key>mbtype</key>
					<integer>13</integer>
					<key>name</key>
					<string>胡坤821</string>
					<key>profile_image_url</key>
					<string>http://tp4.sinaimg.cn/2865753583/50/5686773159/1</string>
					<key>verified_type</key>
					<integer>0</integer>
					<key>vip</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>source</key>
			<string>&lt;a href=&quot;http://app.weibo.com/t/feed/5xCS0B&quot; rel=&quot;nofollow&quot;&gt;微博手机版&lt;/a&gt;</string>
			<key>text</key>
			<string> //@徐昕://@正义女神-惊: [话筒]//@假谴: 这一贴也注定是幸存不了多久，让多一个人看到吧。[哈哈][哈哈][哈哈]</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>1097414213</string>
				<key>mbrank</key>
				<integer>6</integer>
				<key>mbtype</key>
				<integer>12</integer>
				<key>name</key>
				<string>袁裕来律师</string>
				<key>profile_image_url</key>
				<string>http://tp2.sinaimg.cn/1097414213/50/39997989374/1</string>
				<key>verified_type</key>
				<integer>0</integer>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>0</integer>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>Mon Oct 20 08:32:38 +0800 2014</string>
			<key>idstr</key>
			<string>3767666512630357</string>
			<key>pic_urls</key>
			<array/>
			<key>reposts_count</key>
			<integer>1</integer>
			<key>retweeted_status</key>
			<dict>
				<key>attitudes_count</key>
				<integer>38</integer>
				<key>comments_count</key>
				<integer>0</integer>
				<key>created_at</key>
				<string>Sun Oct 19 23:31:02 +0800 2014</string>
				<key>idstr</key>
				<string>3767530210387729</string>
				<key>pic_urls</key>
				<array>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww4.sinaimg.cn/thumbnail/6df70bacjw1elgvxrojkog206o09qx6p.gif</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww4.sinaimg.cn/thumbnail/6df70bacjw1elgvy2vyojg206o09qnpd.gif</string>
					</dict>
				</array>
				<key>reposts_count</key>
				<integer>335</integer>
				<key>source</key>
				<string>&lt;a href=&quot;http://app.weibo.com/t/feed/1tqBja&quot; rel=&quot;nofollow&quot;&gt;360安全浏览器&lt;/a&gt;</string>
				<key>text</key>
				<string>崔珉豪好讨厌嘛……‘~’</string>
				<key>user</key>
				<dict>
					<key>idstr</key>
					<string>1844906924</string>
					<key>mbrank</key>
					<integer>0</integer>
					<key>mbtype</key>
					<integer>0</integer>
					<key>name</key>
					<string>human-lock</string>
					<key>profile_image_url</key>
					<string>http://tp1.sinaimg.cn/1844906924/50/5708700235/0</string>
					<key>verified_type</key>
					<integer>220</integer>
					<key>vip</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>source</key>
			<string>&lt;a href=&quot;http://app.weibo.com/t/feed/9ksdit&quot; rel=&quot;nofollow&quot;&gt;iPhone客户端&lt;/a&gt;</string>
			<key>text</key>
			<string>[偷笑] @Ring花椰菜:就舍不得打 就惯着他吧[挤眼]  @崔西狮:小拳头举起又放下了 说点啥好呢……  @toto97:@崔西狮 蹦米咋不揍他</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>1668319123</string>
				<key>mbrank</key>
				<integer>2</integer>
				<key>mbtype</key>
				<integer>2</integer>
				<key>name</key>
				<string>KKB_MieldePeches</string>
				<key>profile_image_url</key>
				<string>http://tp4.sinaimg.cn/1668319123/50/5707646337/0</string>
				<key>verified_type</key>
				<integer>220</integer>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>3</integer>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>Mon Dec 18 08:32:19 +0800 2014</string>
			<key>idstr</key>
			<string>3767666432925362</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww4.sinaimg.cn/thumbnail/9e00b862jw1elhbmh64huj20aa0br0tz.jpg</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>0</integer>
			<key>source</key>
			<string>&lt;a href=&quot;http://app.weibo.com/t/feed/3j6BDx&quot; rel=&quot;nofollow&quot;&gt;孔明社交管理&lt;/a&gt;</string>
			<key>text</key>
			<string>誓言，多半源于失言，终于食言。[哈哈]</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>2650847330</string>
				<key>mbrank</key>
				<integer>6</integer>
				<key>mbtype</key>
				<integer>12</integer>
				<key>name</key>
				<string>冷笑话图文</string>
				<key>profile_image_url</key>
				<string>http://tp3.sinaimg.cn/2650847330/50/5696992871/0</string>
				<key>verified_type</key>
				<integer>-1</integer>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>1</integer>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>Mon Oct 20 08:32:04 +0800 2014</string>
			<key>idstr</key>
			<string>3767666370394746</string>
			<key>pic_urls</key>
			<array/>
			<key>reposts_count</key>
			<integer>0</integer>
			<key>retweeted_status</key>
			<dict>
				<key>attitudes_count</key>
				<integer>75</integer>
				<key>comments_count</key>
				<integer>20</integer>
				<key>created_at</key>
				<string>Wed Oct 01 19:17:30 +0800 2014</string>
				<key>idstr</key>
				<string>3760943424981893</string>
				<key>pic_urls</key>
				<array>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww3.sinaimg.cn/thumbnail/dcb15735gw1ekvvharvivj20c80f4q3z.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww3.sinaimg.cn/thumbnail/dcb15735gw1ekvvhdoeahj208r0jgab2.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww1.sinaimg.cn/thumbnail/dcb15735gw1ekvvhfm9jgj20c80iqdgy.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww3.sinaimg.cn/thumbnail/dcb15735gw1ekvvhhn3rsj20c80dpabf.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww1.sinaimg.cn/thumbnail/dcb15735gw1ekvvhj82irj20c80c8gmw.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww3.sinaimg.cn/thumbnail/dcb15735gw1ekvvhkno6dj20c80c8jsj.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww1.sinaimg.cn/thumbnail/dcb15735gw1ekvvhmxmcvj20c80gcmyf.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww3.sinaimg.cn/thumbnail/dcb15735gw1ekvvhon2d7j20c80hkgmk.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww1.sinaimg.cn/thumbnail/dcb15735gw1ekvvhrgsh7j20c80ixjtk.jpg</string>
					</dict>
				</array>
				<key>reposts_count</key>
				<integer>1324</integer>
				<key>source</key>
				<string>&lt;a href=&quot;http://weibo.com/&quot; rel=&quot;nofollow&quot;&gt;微博 weibo.com&lt;/a&gt;</string>
				<key>text</key>
				<string>【8大快速瘦.身秘诀】1、怎么瘦大腿。2、如何瘦肚子。3、怎么美体。4、怎么瘦手臂。5、如何瘦小腿.6、吃什么东西可以瘦.身.7、如何瘦腰瘦背。8、日常生活怎么瘦.身。&gt;&gt; [爱]想知道这些快速瘦.身技巧请速度关注我哦...</string>
				<key>user</key>
				<dict>
					<key>idstr</key>
					<string>3702609717</string>
					<key>mbrank</key>
					<integer>4</integer>
					<key>mbtype</key>
					<integer>12</integer>
					<key>name</key>
					<string>减肥挺简单Yo</string>
					<key>profile_image_url</key>
					<string>http://tp2.sinaimg.cn/3702609717/50/40030486223/0</string>
					<key>verified_type</key>
					<integer>-1</integer>
					<key>vip</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>source</key>
			<string>&lt;a href=&quot;http://app.weibo.com/t/feed/3auC5p&quot; rel=&quot;nofollow&quot;&gt;皮皮时光机&lt;/a&gt;</string>
			<key>text</key>
			<string>[赞]终于挖到了一个非常专业的达人瘦.身类微 博 ！ 泪 每天分享图文、视频教程，更有瘦.身达人专业指导，学习更多健康瘦.身技巧，快来关 注</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>2244250502</string>
				<key>mbrank</key>
				<integer>5</integer>
				<key>mbtype</key>
				<integer>2</integer>
				<key>name</key>
				<string>最最搞笑精选</string>
				<key>profile_image_url</key>
				<string>http://tp3.sinaimg.cn/2244250502/50/5625405769/0</string>
				<key>verified_type</key>
				<integer>-1</integer>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>4</integer>
			<key>comments_count</key>
			<integer>1</integer>
			<key>created_at</key>
			<string>Mon Oct 20 08:32:02 +0800 2014</string>
			<key>idstr</key>
			<string>3767666357132544</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww2.sinaimg.cn/thumbnail/49236e0fgw1elhbm48iacj20ch06f746.jpg</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>1</integer>
			<key>source</key>
			<string>&lt;a href=&quot;http://weibo.com/&quot; rel=&quot;nofollow&quot;&gt;微博 weibo.com&lt;/a&gt;</string>
			<key>text</key>
			<string>爱卿的正能量足以成为统计学的一代宗师了。[哈哈]</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>1227058703</string>
				<key>mbrank</key>
				<integer>3</integer>
				<key>mbtype</key>
				<integer>12</integer>
				<key>name</key>
				<string>大仙</string>
				<key>profile_image_url</key>
				<string>http://tp4.sinaimg.cn/1227058703/50/5665166440/1</string>
				<key>verified_type</key>
				<integer>0</integer>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>0</integer>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>Mon Oct 20 08:31:15 +0800 2014</string>
			<key>idstr</key>
			<string>3767666164442479</string>
			<key>pic_urls</key>
			<array/>
			<key>reposts_count</key>
			<integer>1</integer>
			<key>retweeted_status</key>
			<dict>
				<key>attitudes_count</key>
				<integer>1</integer>
				<key>comments_count</key>
				<integer>0</integer>
				<key>created_at</key>
				<string>Mon Oct 20 08:29:51 +0800 2014</string>
				<key>idstr</key>
				<string>3767665807863454</string>
				<key>pic_urls</key>
				<array>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww4.sinaimg.cn/thumbnail/66e52a37jw1elhbjr63foj20ba07iwek.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww2.sinaimg.cn/thumbnail/66e52a37jw1elhbjseudmj205m07i3ym.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww4.sinaimg.cn/thumbnail/66e52a37jw1elhbjtlufxj205z07i3yq.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww1.sinaimg.cn/thumbnail/66e52a37jw1elhbjvgpj7j20a007ijri.jpg</string>
					</dict>
				</array>
				<key>reposts_count</key>
				<integer>2</integer>
				<key>source</key>
				<string>&lt;a href=&quot;http://weibo.com/&quot; rel=&quot;nofollow&quot;&gt;微博 weibo.com&lt;/a&gt;</string>
				<key>text</key>
				<string>【头条热点】#早报#文玩手串热爆全国。细分品类达200多种的手串市场已经成为一个巨大的文玩消费品种和淘金地。手串的珍稀材质，如蜜蜡、沉香等，年平均涨幅都在30％以上甚至更高。普通青金石手串价格从两年前的80上涨至数千。珠串从一个收藏小众门类成为消费和收藏的“显学”，和巨大消费人群进入相关</string>
				<key>user</key>
				<dict>
					<key>idstr</key>
					<string>1726294583</string>
					<key>mbrank</key>
					<integer>0</integer>
					<key>mbtype</key>
					<integer>0</integer>
					<key>name</key>
					<string>艺术头条art</string>
					<key>profile_image_url</key>
					<string>http://tp4.sinaimg.cn/1726294583/50/5698411664/0</string>
					<key>verified_type</key>
					<integer>-1</integer>
					<key>vip</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>source</key>
			<string>&lt;a href=&quot;http://app.weibo.com/t/feed/4IAmCy&quot; rel=&quot;nofollow&quot;&gt;微博Win8客户端&lt;/a&gt;</string>
			<key>text</key>
			<string>转发微博[哈哈]</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>2092534937</string>
				<key>mbrank</key>
				<integer>0</integer>
				<key>mbtype</key>
				<integer>0</integer>
				<key>name</key>
				<string>雅昌拍卖收藏</string>
				<key>profile_image_url</key>
				<string>http://tp2.sinaimg.cn/2092534937/50/5665039135/0</string>
				<key>verified_type</key>
				<integer>5</integer>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</dict>
	</array>
	<key>total_number</key>
	<real>1650</real>
</dict>
</plist>
